.banner-text{
    font-size: 44.5px;
    text-align: left;
    
}
.banner-span{
    color: #4CAF4F;
}
/* #banner{
    padding-right: 100.23px;
    padding-left: 100.23px;
    padding-top: 66.82px;
    padding-bottom: 66.82px;
    width: 1002.34px;
    height: 416.95px;
    text-align: left;
} */
/* .col-8{
    width: 457.32px;
    height: 192.9px;
} */
